.logo {
    margin-left: 2px;
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
}

.logo-left {
    background-color: #ff6b6b;
    padding: 3px 5px 3px 8px;
    border-radius: 4px;
}

.logo-right {
    padding: 3px 8px 3px 3px;
    border-radius: 4px;
    margin-left: -3px;
}

.logout{
    background-color: #ff6b6b;
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 0px;
}