<div class="panel-heading">
    <h3 class="pt-3">
        Login
    </h3>
    <div class="panel-body p-3">
        <form [formGroup]="loginForm">
            <div class="form-group pt-3">
                <div class="input-field" [class.error]="loginForm.controls['username'].dirty && 
                        loginForm.hasError('required', 'username')">
                    <span class="fa fa-user p-2"></span>
                    <input formControlName="username" type="text" placeholder="Username">
                </div>
            </div>
            <small class="danger" *ngIf="loginForm.controls['username'].dirty && 
                        loginForm.hasError('required', 'username')">
                    *Username is required
            </small>

            <div class="form-group pt-3">
                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && 
                loginForm.hasError('required', 'password')">
                    <span class="fa fa-lock p-2"></span>
                    <input formControlName="password" [type]="type" placeholder="Password">
                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                </div>
            </div>
            <small class="danger" *ngIf="loginForm.controls['password'].dirty && 
                        loginForm.hasError('required', 'password')">
                    *Password is required
            </small>

            <div class="form-inline fr mt-4">
                <a href="#" id="forget" class="font-weight-bold" data-bs-toggle="modal" data-bs-target="#forgetModal">Forget password?</a>
            </div>

            <button (click)="onLogin()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>

            <div class="text-center pt-4 text-muted">
                Don't have account? 
                <a id="forget" class="font-weight-bold" routerLink="/signup">Sign Up</a>
            </div> 
        </form>               
    </div>

    <div class="mx-3 my-2 py-2 bordert">
        <div class="text-center py-3">
            <a href="https://www.facebook.com" target="_blank" class="px-2">
                <img src="http://s1.iconbird.com/ico/2013/6/271/w513h5131371296104Facebook.png" alt="">
            </a>

            <a href="https://www.google.com" target="_blank" class="px-2">
                <img src="https://cdn-icons-png.flaticon.com/512/2875/2875404.png" alt="">
            </a>

            <a href="https://www.github.com" target="_blank" class="px-2">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="">
            </a>
        </div>
    </div>
</div>



<div class="modal fade" id="forgetModal" tabindex="-1" aria-labelledby="forgetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <p class="modal-title" id="forgetModalLabel">
                    <span id="modalTitle">Forget your password?</span>
                    <br>
                    <small>Please, provide your E-mail, we will send the reset link</small>
                </p>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-group pt-3">
                    <div class="input-field">
                        <span class="fa fa-user p-2"></span>
                        <input type="text" placeholder="Email">
                    </div>
                    <small class="danger">*Email is required*</small>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send</button>
            </div>

        </div>
    </div>
</div>
