@import url('app/shared/auth-layout/auth-layout.component.css');
@import url('app/shared/main-layout/main-layout.component.css');
@import url('app/components/charts/bar-chart/bar-chart.component.css');
@import url('app/components/charts/pie-chart/pie-chart.component.css');

* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1C2228;
    color: #f7fff7;
    height: 100%;
}

a {
    color: #44a4cd;
}

a:hover {
    color: #44a8cf;
}

